.btn-icon-primary {
  @apply bg-blue-500 text-white w-10 h-10 flex items-center justify-center hover:bg-blue-600 rounded-full;
}

.table-search {
  @apply bg-gray-200 rounded border-2 border-gray-200 pr-4 mr-4 px-2 flex items-center cursor-text;

  ic-icon {
    @apply text-gray-500;
  }

  input {
    @apply pl-2 py-2 border-0 text-gray-600 outline-none w-full bg-transparent font-semibold;

    &::placeholder {
      @apply text-gray-600 font-normal;
    }
  }

  &:focus-within {
    @apply border-blue-500;

    ic-icon {
      @apply text-blue-500;
    }

    input {
      @apply text-blue-500;
    }
  }
}

.table-message {
  @apply text-xl font-semibold text-blue-900 flex flex-col justify-center items-center my-10;
}

// Containers

.card-base {
  @apply bg-white rounded overflow-hidden shadow-md;

  .card-header {
    @apply flex justify-between items-center px-6 py-2 border-b;
    min-height: 60px;
  }

  .card-bar {
    @apply flex h-16 px-6 justify-between items-center;
  }

  & > .content {
    @apply px-6 py-4;

    &.no-padding {
      padding: 0;
    }

    .content-value {
      @apply flex flex-row justify-between py-3 px-6 border-b text-sm;

      & > div:first-child {
        @apply text-gray-600 text-left;
      }

      & > div:last-child {
        @apply text-right;
      }

      &:last-child {
        @apply border-none;
      }
    }
  }
}

.base-content-wrapper {
  @apply flex gap-6;

  article {
    @apply w-8/12;
  }

  aside {
    @apply flex flex-col gap-6 w-4/12;

    & > section {
      @apply flex flex-col;
    }
  }
}

// Angular mat menu

.mat-menu-panel {
  @apply rounded-sm;

  &.mat-menu-dark {

    .mat-menu-content {
      @apply bg-black text-white;

      .mat-menu-item {
        mat-icon {
          @apply text-gray-400;
        }

        span {
          @apply text-white;
        }

        &.danger {
          mat-icon, span {
            @apply text-red-500;
          }
        }
      }
    }
  }
}

.title-primary {
  @apply text-lg font-semibold;
}

form {
  .divider {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      background: #dedede;
      width: 100%;
      height: 1px;
      z-index: 0;
    }

    p, span {
      @apply text-gray-600;

      display: inline-block;
      position: relative;
      background: #ffffff;
      padding-right: 10px;
      z-index: 1;

      &.text-right {
        padding-left: 10px;
        padding-right: 0;
      }
    }
  }
}

.tiny-form {
  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 5px !important;
    }

    .mat-form-field-infix {
      padding: 0.3em 0 0.8em 0;
    }

    .mat-form-field-label-wrapper {
      top: -1.2em;
    }

    .mat-select-arrow-wrapper {
      transform: none;
    }

    .mat-form-field-subscript-wrapper {
      position: relative;
    }

    .mat-form-field-suffix {
      top: 0.50em;
      height: 28px;
    }
  }

  .in-row-field {
    margin-top: 4px;
    height: 37px;
  }
}

.message-simply {
  @apply inline-flex flex-col justify-center items-center text-center w-full py-16;

  .mat-icon {
    position: relative;
    padding: 10px;
    width: 100px;
    height: 100px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 500px;
      background: #3182ce36;
      border: 7px solid #3182ce;
    }
  }

  span {
    @apply mt-3;
  }
}

.btn-group-range-filter {
  .mat-date-range-input {
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }
}

.range-filter {
  button.short {
    @apply bg-blue-100 text-blue-500 font-medium #{'!important'};
    line-height: 29px !important;
  }

  .mat-date-range-input {
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .clear-button {
    transform: translateY(2px);

    .mat-icon {
      width: auto;
      height: auto;
    }
  }

  .double-action {
    padding: 0;

    span span {
      display: inline-block;
      padding-left: 14px;
    }

    button {
      padding-right: 14px;
    }
  }
}
