@import '~@angular/material/theming';

$config: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $input: mat-typography-level(14px, 1.125, 400)
);

$mat-primary: mat-palette((
  50: #c0cfe3,
  100: #1d3968,
  200: #19345f,
  300: #172e57,
  400: #142543,
  500: #0e1e37,
  600: #0b192d,
  700: #0a142d,
  800: #010611,
  900: #000000,
  A100: #19345f,
  A200: #0e1e37,
  A400: #0a142d,
  A700: #000000,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #FFF,
    600: #FFF,
    700: #FFF,
    800: #FFF,
    900: #FFF,
  )
)) !default;

$col-accent: mat-palette($mat-blue, A200, A100, A400) !default;
$col-warn: mat-palette($mat-red) !default;

$bs-theme-foreground: (
  text: black,
  elevation: $mat-elevation-color,
  divider: rgba(82, 63, 105, 0.06)
) !default;

$bs-theme-background: (
  app-bar: #ebebee
) !default;

$col-theme: (
  primary: $mat-primary,
  accent: $col-accent,
  warn: $col-warn,
  is-dark: false,
  foreground: map_merge($mat-light-theme-foreground, $bs-theme-foreground),
  background: map_merge($mat-light-theme-background, $bs-theme-background),
) !default;



