<div *ngIf="!(service.loading$ | async) || !(service.persist$ | async);then tForm else tAction"></div>

<ng-template #tForm>
  <form novalidate #form="ngForm" (ngSubmit)="onSubmit()" class="tiny-form">
    <mat-dialog-content>
      <div class="flex flex-col">
        <p class="title-primary mb-4">Utwórz umowę</p>

        <mat-form-field *ngIf="!this.workerId">
          <mat-label>Pracownik</mat-label>
          <input type="text" name="searchFrom" matInput placeholder="Wpisz imię i/lub nazwisko pracownika" [matAutocomplete]="auto" [formControl]="searchForm" (keyup)="filter()" required>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)" [autoActiveFirstOption]="true">
            <mat-option *ngFor="let item of searchResult" [id]="item.id" [value]="item.firstName + ' ' + item.lastName">
              <div class="flex flex-col">
                <span class="font-medium">{{ item.firstName }} {{ item.lastName }}</span>
                <span class="text-sm">{{ item.street }} {{ item.propertyNumber}} {{ item.apartmentNumber }}, {{ item.zipCode }} {{ item.city }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
          <mat-icon [icIcon]="icNotFound" *ngIf="searchResult != undefined && searchResult.length <= 0" style="display: inline-block;height: auto" matSuffix></mat-icon>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Rodzaj umowy</mat-label>
          <mat-select>
            <mat-option *ngFor="let contractType of contractTypes" [value]="contractType.name" (click)="updateResourceWithSelectedValues(contractType)">
              {{ contractType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex flex-row gap-4">
          <mat-form-field class="w-full">
            <mat-label>Numer tytułu ZUS</mat-label>
            <input type="number" name="identifier-zus-number" [(ngModel)]="resource.identifierZusNumber" aria-label="Wpisz numer tytułu ZUS" required matInput>
          </mat-form-field>

          <div class="w-full">
          <app-job-position label="Stanowisko" (selected)="checkJobPosition($event)" [required]="true" class="w-full"></app-job-position>
          </div>
        </div>

        <div class="flex flex-row gap-4">
          <mat-form-field class="w-full">
            <mat-label>Data rozpoczęcia umowy</mat-label>
            <input [matDatepicker]="employedAtPicker" name="employed-at" (focus)="employedAtPicker.open()" [(ngModel)]="resource.employedAt" aria-label="Wpisz datę rozpoczęcia umowy" required matInput>
            <mat-datepicker-toggle matSuffix [for]="employedAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #employedAtPicker startView="multi-year"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Data zakończenia umowy</mat-label>
            <input [matDatepicker]="employedEndAtPicker" name="employed-end-at" (focus)="employedEndAtPicker.open()" [min]="resource.employedAt" [(ngModel)]="resource.employedEndAt" aria-label="Wpisz datę zakończenia umowy" [disabled]="!resource.employedAt" matInput>
            <mat-datepicker-toggle matSuffix [for]="employedEndAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #employedEndAtPicker startView="multi-year"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex flex-row gap-4">
          <mat-form-field class="w-full">
            <mat-label>Wynagrodzenie zasadnicze brutto</mat-label>
            <input type="number" name="base-salary" [(ngModel)]="resource.baseSalary" aria-label="Wpisz wynagrodzenie zasadnicze" required matInput>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Normatyw czasu pracy</mat-label>
            <input type="number" name="working-time" [(ngModel)]="resource.workingTime" aria-label="Wpisz normatyw czasu pracy" required matInput>
          </mat-form-field>
        </div>

        <div class="divider mb-2">
          <p class="text-md font-semibold">Informacje o stażu</p>
        </div>

        <div class="flex flex-row flex-wrap gap-y-1 mb-2">
          <mat-checkbox name="entire-internship" [(ngModel)]="resource.entireInternship" class="w-1/2">
            Staż ogółem
          </mat-checkbox>

          <mat-checkbox name="service-internship" [(ngModel)]="resource.serviceInternship" class="w-1/2">
            Staż do wysługi
          </mat-checkbox>

          <mat-checkbox name="profession-internship" [(ngModel)]="resource.professionInternship" class="w-1/2">
            Staż w zawodzie
          </mat-checkbox>

          <mat-checkbox name="jubilee-internship" [(ngModel)]="resource.jubileeInternship" class="w-1/2">
            Staż do jubileuszu
          </mat-checkbox>
        </div>

        <div class="divider mb-2 mt-3">
          <p class="text-md font-semibold">Informacje o naliczeniach składek</p>
        </div>

        <div class="flex flex-row flex-wrap gap-y-1 mb-2">
          <mat-checkbox name="is-sick" [(ngModel)]="resource.isSick" class="w-1/2">
            Czy jest chory
          </mat-checkbox>

          <mat-checkbox name="is-annuitant" [(ngModel)]="resource.isAnnuitant" class="w-1/2">
            Status rencista
          </mat-checkbox>

          <mat-checkbox name="is-pensioner" [(ngModel)]="resource.isPensioner" class="w-1/2">
            Status emeryta
          </mat-checkbox>

          <mat-checkbox name="is-healthy" [(ngModel)]="resource.isHealthy" class="w-1/2">
            Czy jest zdrowy
          </mat-checkbox>

          <mat-checkbox name="is-lf" [(ngModel)]="resource.isLf" class="w-1/2">
            Czy Fundusz Pracy
          </mat-checkbox>

          <mat-checkbox name="is-gebf" [(ngModel)]="resource.isGebf" class="w-1/2">
            Czy FGŚP
          </mat-checkbox>

          <mat-checkbox name="is-leave" [(ngModel)]="resource.isLeave" class="w-1/2">
            Czy urlop
          </mat-checkbox>

          <mat-checkbox name="is-leave" [(ngModel)]="resource.isSickLeave" class="w-1/2">
            Czy urlop chorobowy
          </mat-checkbox>

          <mat-checkbox name="is-pkzp" [(ngModel)]="resource.isPkzp" class="w-1/2">
            Czy PKZP
          </mat-checkbox>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="w-full flex justify-between items-center">
        <button mat-flat-button type="button" mat-dialog-close>Anuluj</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">Dodaj</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #tAction>
  <div class="flex flex-col items-center my-5">
    <mat-progress-spinner mode="indeterminate" color="primary" diameter="56" class="m-auto mb-5"></mat-progress-spinner>
    <p class="title-primary" *ngIf="service.loading$ | async">Trwa ładowanie</p>
    <p class="title-primary" *ngIf="service.persist$ | async">Trwa dodawanie</p>
  </div>
</ng-template>
