.bg-primary {
  background-color: #eef2f6;
}

.bg-pattern {
  background: linear-gradient(90deg, #eef2f6 20px, transparent 1%) center, linear-gradient(#eef2f6 20px, transparent 1%) center, #ddd;
  background-size: 22px 22px;
}
