<div class="page-container">
  <mat-toolbar>
      <div class="container">
        <a [routerLink]="['pkzp']" class="logo">
          <img src="assets/img/e-kadry/logo.svg" alt="EKadry">
        </a>
        <ng-container>
          <app-navigation></app-navigation>
        </ng-container>
    </div>
  </mat-toolbar>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer class="flex flex-row justify-center items-center h-16 text-gray-600">
    <p>&copy; 2020-{{ currentYear }} EKadry</p>
  </footer>
</div>
