<div class="login-wrapper bg-primary w-screen h-screen d-flex justify-center align-center">
  <img alt="EKadry" class="mx-auto mb-5" src="../../../../assets/img/e-kadry/logo.svg" width="120">
  <div class="login-container">
    <div class="bg-white shadow rounded p-8">
      <h1 class="font-bold text-center text-lg text-blue-600 tracking-wide uppercase mb-4">Logowanie do systemu</h1>
      <form class="flex flex-col" novalidate>
        <mat-form-field>
          <mat-icon [icIcon]="icLogin" class="mr-3 text-gray-500" matPrefix size="22px"></mat-icon>
          <mat-label>Login</mat-label>
          <input aria-label="Wprowadź login do systemu" matInput name="email" placeholder="Wprowadź login do systemu"
                 type="email">
        </mat-form-field>

        <mat-form-field>
          <mat-icon [icIcon]="icPassword" class="mr-3 text-gray-500" matPrefix size="22px"></mat-icon>
          <mat-label>Hasło</mat-label>
          <input aria-label="Wprowadź hasło" matInput name="password" placeholder="Wprowadź hasło" type="password">
        </mat-form-field>

        <button class="h-12 font-bold text-lg uppercase tracking-wide" color="primary" mat-flat-button type="submit">
          Zaloguj się
        </button>
      </form>
    </div>
    <p class="mt-3 text-gray-500 text-xs caption text-center">
      &copy; 2020
    </p>
  </div>
</div>

