<section class="card-base mt-4">
  <div class="card-bar border-b">
    <div class="flex gap-6">
      <h2 class="text-xl font-semibold flex items-center">PKZP - {{ worker?.firstName }} {{ worker?.lastName }}</h2>
    </div>
    <div class="flex flex-row gap-4">
      <button type="button" class="btn-icon-gray" matTooltip="Ustawienia PKZP dla pracownika">
        <mat-icon [icIcon]="icSetting" class="text-dark" size="19px"></mat-icon>
      </button>
      <button type="button" class="btn-icon-primary" (click)="callAddRecord()">
        <mat-icon [icIcon]="icAdd" class="text-white" size="24px"></mat-icon>
      </button>
    </div>
  </div>
  <div class="content no-padding">
    <section [class.hidden]="dataSource?.isEmpty || (service.filter$ | async)">
      <table [dataSource]="dataSource" class="w-full" mat-table>
        <ng-container matColumnDef="name">
          <th class="uppercase" *matHeaderCellDef mat-header-cell>Rodzaj</th>
          <td *matCellDef="let row" mat-cell>
            {{ row.pkzpPositionType.displayName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="period">
          <th class="uppercase" *matHeaderCellDef mat-header-cell>Okres</th>
          <td *matCellDef="let row" mat-cell>
            <div *ngIf="row.period;then periodSet else periodNotSet"></div>
            <ng-template #periodSet>
              {{ row.period.dateFrom | date:'LLLL yyyy' | titlecase }}
            </ng-template>
            <ng-template #periodNotSet>
              -
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th class="uppercase" *matHeaderCellDef mat-header-cell>Wartość</th>
          <td class="font-semibold" *matCellDef="let row" mat-cell>
            <div *ngIf="isPayment(row.pkzpPositionType.id);then payment else payout"></div>
            <ng-template #payment>
              <span class="text-green-700 text-md">+ {{ row.amount | price }}</span>
            </ng-template>
            <ng-template #payout>
              <span class="text-red-700 text-md">- {{ row.amount | price }}</span>
            </ng-template>
            <span class="text-dark font-semibold text-xs pl-1">PLN</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th class="uppercase" *matHeaderCellDef mat-header-cell>Utworzono</th>
          <td *matCellDef="let row" mat-cell>
            {{ row.createdAt | date:'dd MMM yyyy' }}
          </td>
        </ng-container>


        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr class="hover:bg-gray-100 cursor-pointer transition-colors"
            *matRowDef="let row; columns: visibleColumns;"
            mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="(dataSource.data$ | async).perPage"
                     [length]="(dataSource.data$ | async).total"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </section>

    <div *ngIf="service.filter$ | async;then filtering else notFiltering"></div>
    <ng-template #filtering>
      <div class="table-message">
        <mat-progress-spinner mode="indeterminate" color="primary" diameter="56"></mat-progress-spinner>
      </div>
    </ng-template>
    <ng-template #notFiltering>
      <div class="table-message" *ngIf="dataSource.isEmpty">
        Brak pozycji PKZP
      </div>
    </ng-template>
  </div>
</section>
